body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

#progress .times,
.card-footer,
.volume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.volume-container i {
  margin-right: 5px;
}

.card {
  width: 500px;
}

li.playing {
  background-color: #0b5eb7;
  color: #fff;
}
